<!DOCTYPE html>
<html lang="en" data-lt-installed="true">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
    <meta property="og:title" content="Title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mycooldomain.com" />
    <meta property="og:image" content="{{ url_for('static', filename='img/icon.png') }}" />
    <meta property="og:description" content="Description" />
    <meta name="theme-color" content="#1f1f1f">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>

<body>
    <div id="app" class="ui container segment">
        <img style="width: 100%" src="{{ url_for('static', filename='img/header.png') }}">

        <div class="ui inverted stackable main menu">
            <div class="ui container">
                {% block left %}
                {% endblock %}
                <div class="right menu">
                    {% if sid %}
                    <a href="{{ url_for('logout') }}" class="item"><i class="fas fa-sign-in-alt"></i>
                        &nbsp; Logout
                    </a>
                    {% else %}
                    <a href="{{ url_for('register') }}" class="item"><i class="fas fa-user-plus"></i>
                        &nbsp; Register
                    </a>
                    <a href="{{ url_for('login') }}" class="item"><i class="fas fa-sign-in-alt"></i>
                        &nbsp; Login
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="content-segment" class="ui container segment">
            {% if h %}
            <h1>{{ h }}</h1>
            {% endif %}
            {% if m %}
            <p>{{ m }}</p>
            {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
